<%= form_for :event, url: @path, method: @method do |f|%>
  <div class="form-inputs">
    <%= f.text_field :title, value: @event.title %>
    <%= f.text_field :event_type, value: @event.event_type %>
  </div>

  <div>
    <input type="submit">
  </div>
<!-- </form> -->
<% end %>
