@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

main {
  max-width: 1100px;
  margin: 1em auto;
  background: #eee;
  padding: 1em;
}
